*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #757575;
    display: flex;
    justify-content: center;    
}

main{    
    background-color: #BDBDBD;
    margin: 50px;
    border-radius: 25px;
    width: 950px;
    display: flex;
    flex-direction: column;
}

header{
    padding: 25px;
    border-radius: 25px 25px 0 0;
    border: 5px solid #F5F5F5;
    text-align: center;
}

.book_ToAdd{
    padding: 0 25px;
    border-width: 0 5px;
    border-style: solid;
    border-color: #F5F5F5;
    display: flex;
    flex-direction: column;
}

#newBook_Show{
    align-self: center;
    width: 190px;
    height: 100px;
    border-radius: 25px;
    border: #757575 solid 5px;
    margin: 25px 0;
    background-color: #F5F5F5;
    font-weight: 700;
    font-size: 1.5em;
}

form{
    padding: 25px 0;
    border-width: 5px 0 0;
    border-style: solid;
    border-color: #F5F5F5;
    display: none;
    justify-content: space-between;
    column-gap: 25px;
}

.form_Item,
.card_Content{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

#book_Read,
#read_Card{
    height: 19px;
}

.book_Read{
    width: fit-content;
}

.book_TotalPages,
#newBook_Add,
.book_Remove{
    width: 100px;
}

.book_Title,
.book_Author{
    flex: 1 1 0;
}

#card_Model{
    display: none;
    border: none;
}

.book_Container{
    padding: 25px;
    border-width: 5px;
    border-style: solid;
    border-color: #F5F5F5;
}

.book_Card:nth-child(2n){
    border-width: 5px 0;
    border-style: solid;
    border-color: #F5F5F5;
}

.book_Card:nth-child(2){
    padding-top: 0;
    border-top-width: 0;
}

.book_Card:last-child{
    padding-bottom: 0;
    border-bottom-width: 0;
}

.book_Card{
    padding: 25px 0;
    display: flex;
    justify-content: space-between;
    column-gap: 25px;
}

footer{
    padding: 25px;
    border-radius: 0 0 25px 25px;
    border-width: 0 5px 5px;
    border-style: solid;
    border-color: #F5F5F5;
    text-align: center;
    display: flex;
    justify-content: center;
}